.facilitySection {
    padding: 50px 0;
    /* background: #f9f9f9; */
    background: linear-gradient(180deg, #f9f9f9, #ffffff);
}

.sectionTitle {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

/* MAIN IMAGE */

.facilityMainImage {
    width: 90%;
    max-height: 420px;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 0px 20px rgb(0 0 0 / 46%);
}

/* CARDS */

.facilityCard {
    background: white;
    padding: 25px 15px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    height: 100%;
    cursor: pointer;
}

.facilityCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.facilityIcon {
    font-size: 34px;
    color: #00cd4d;  /*#ff4444;*/
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 25px #00cd4fbd);
}

.facilityCard p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

/* MOBILE */

@media (max-width:768px) {

    .sectionTitle {
        font-size: 28px;
    }

    .facilityMainImage {
        width: 100%;
        height: auto !important;
    }

    .facilityIcon {
        font-size: 28px;
    }

    .facilityCard {
        padding: 15px 10px;
    }

    .facilityCard p {
        font-size: 13px;
    }

}



.kidsIcon {
    animation: kidsBounce 2s infinite;
}

@keyframes kidsBounce {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }

}