/* FOOTER */

.footer {
    background: linear-gradient(135deg, #1e3c72, #1e3c72);
    color: white;
    padding: 25px 0px 20px;
    margin: 0px 0px -25px 0px;
}

/* GRID */

.footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* LOGO */

.footerLogo img {
    width: 70px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 9px #fff);
}

.footerLogo span {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 15px #fff);
}

/* LINKS */

.footerLinks {
    list-style: none;
    padding: 0;
}

.footerLinks li {
    margin-bottom: 8px;
}

.footerLinks a {
    text-decoration: none !important;
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.footerLinks a:hover {
    color: #ffd93d !important;
    cursor: pointer;
    padding-left: 5px;
}

/* SOCIAL */

.footerSocial a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.5s ease;
    color: #fff;
}

.footerSocial a:hover {
    transform: translateY(-4px);
    /* background: #ffd166; */
    color: #ffcc00 !important;
}



.footerCol a.mapHref {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 15px;;
    text-decoration: none;
    color: #ffffff;
    line-height: 1.4;
    transition: all 0.5s ease;
}

.footerCol a.mapHref svg {
    font-size: 18px;
    color: #ea4335;
    margin-top: 4px;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 15px #fff);
}

.footerCol a.mapHref:hover {
    color: #ffd93d;
    /* transform:translateX(4px); */
}


/* MAP */

.school-map {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.school-map iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: none;
}

/* .map iframe {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    border: none;
} */




/* COPYRIGHT */

.footerBottom {
    background: linear-gradient(180deg, #3075ef, #98bdff00);
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #ffffff57;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
}

/* WAVE FIX */

.footerWave svg {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: -2px;
    /* background: #f26751; */
    background: linear-gradient(180deg, #f26751, #0000002b);
}


/* WHATSAPP */
.whatsapp-float {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: all 0.3s ease;
}

.whatsapp-float img {
    width: 32px;
    height: 32px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

@media (max-width:768px) {
    .whatsapp-float {
        width: 55px;
        height: 55px;
        bottom: 20px;
        right: 20px;
    }

    .whatsapp-float img {
        width: 28px;
    }
}

/* RESPONSIVE */

@media(max-width:992px) {

    .footerGrid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:600px) {

    .footerGrid {
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
    }

    .footerWave svg {
        height: 0;
    }
}