/*=========================
   CSS RESET / BASE STYLES
========================= */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
}



/* sticky base (hidden first) */
.sticky-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: rgb(8 18 32 / 0%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12) !important;
    transform: translateY(-100%) !important;
}

/* when active → slide down */
.sticky-nav:not(.sticky-hide) {
    transform: translateY(0) !important;
    animation: fadeInOpacity 0.5s ease-in forwards;
}

/* hide on scroll up */
.sticky-nav.sticky-hide {
    transform: translateY(-100%) !important;
    animation: fadeOutOpacity 0.5s ease-in forwards;
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* End navabar scroll */



.text-justify {
    text-align: justify !important;
}

.fw-500 {
    font-weight: 500 !important;
}




/* SECTION */

.section {
    padding: 50px 0;
}

.section h2 {
    font-weight: 700;
}

.whiteShadow {
    filter: drop-shadow(0px 0px 10px #fff);
}



@media (min-width: 992px) {
    .px-lg-7 {
        padding-right: 7rem !important;
        padding-left: 7rem !important;
    }
}

@media (min-width: 768px) {
    .px-md-6 {
        padding-right: 6rem !important;
        padding-left: 6rem !important;
    }
}

@media (max-width:768px) {
    .pxmb-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}